*{
    margin:0%;
    padding: 0;
    font-family: 'poppins', sens-serif;
    box-sizing: border-box;
    
}
/* header */
li{
    float:left;
}
li a{
    padding: 20px;
    font-size: 20px;
    font-style: lato;
    color: white;
    text-decoration: none;
    margin-top: 0px;
}   
ul{
    display: flex;
    float:right;
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}
.logo{
    margin: auto 3res;
    padding:12px ;
    font-size: 45px;
    background-color: rgb(82, 12, 147);
    color: white;
    
    
}
/* main */

.container{
   height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 200px;
    
    

} 
.form-link{
    margin-left: 100px;
}


input[type="text"] {
    width: 450px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: auto;
}
input[type="password"] {
    width: 450px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: auto;
}
h1{
    margin-bottom: 20px;
}

.form{
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    font-size: 20px;
    border-radius: 6px;
    background: rgb(137, 83, 220);
    height: 300;
    margin-bottom: 10px;
}
.form a{
    color: white;
    margin-left: 5px;
}
form .field{
    height: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-field{
    margin-bottom: 20px;
}
/* footer */
.contain{
    margin: auto 3res;
    padding:12px ;
    font-size: 40px;
    background-color: rgb(82, 12, 147);
    color: rgb(0, 0, 0);}


h3,h2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 55px;
    color:rgb(62, 11, 110)
    
}    
p{
    word-wrap: break-word;
    font-size: 25px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 80px;
    margin-top: 20px;
}
ol{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 20px;
}
h4{
    color: black;
    margin-bottom: 0px;
}

