<html lang="en">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
    <link rel="stylesheet" href="{% static 'css\categories.css' %}">
    
</head>
<body>
    <header>
        
          
        <div class="logo">&nbsp;&nbsp;&nbsp;&nbsp;<u><b>Apni</u><span style="color:white">दुकान</span> </b>
            <!-- <div class="search-container">
                <input type="text" class="search-box" placeholder="Search..."> -->
                 
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="/aboutus">About us </a></li>
                <li><a href="#">Contact us </a></li>
                <li><a href="/">Logout</a></li>
                
            </ul> 
        <!-- </div>    -->
        </div>    
       
    </header> 
  <main>

        <div class="slider">
            <img src="{% static 'css\food1.jpg' %}">
            <img src="{% static 'css\food2.jpg' %}">
            <img src="{% static 'css\food3.jpg' %}">
            <img src="{% static 'css\food4.jpg' %}">
            <img src="{% static 'css\food5.jpg' %}" >
        </div>
        <span class="click" style="float: right;">
          <form action="/displaydata" method="POST">
            {%csrf_token%}
            <button style="border: 10px solid black;border-radius: 10px; border-style: ridge;font-size: 20px;padding: 5px;margin-right: 30px;
            background-color: red;
            color: white;">Click me to get your menu</button>
          </form>
        </span>
    <form action="/savedata" method="POST">
        <div style="display: flex; justify-content: center;">

            {% csrf_token %}
            <b>ITEM NAME :</b>
            <input type="text" name="input_box" id="input_box" style="border: 3px solid red; display: inline-block; margin: 10px;" size="30" height="10" readonly >
            <b>PRICE :</b> 
            <input type="number" name="priceinput" style="border: 3px solid red; display: inline-block; margin: 10px;">
            <br><br>
            <button type="SUBMIT" class="click" style="border: 3px solid blue;border-radius: 10px;font-size: 20px; padding: 5px;"> SUBMIT</button>
        </div>  

        <br><br>
    
            <h1> <center><b><u><marquee behavior="" direction="right">Main Course</marquee>  </u></b></center></h1><br/><br/>
        
        <div style="display: flex; flex-wrap: wrap;">
          <div style="flex: 1;">
  
          <div class="item">
            <div class="price-input"></div>
              <div class="item-title">Butter Chicken</div>
              <input type="checkbox" name="chkbox" value="Butter Chicken" onchange="updateInputBox()">
            </div>
          

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Tikka MasalaT</div>
            <input type="checkbox" name="chkbox" value="Chicken Tikka Masala" onchange="updateInputBox()">
            
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Tandoori Chicken</div>
            <input type="checkbox" name="chkbox" value="Tandoori Chicken" onchange="updateInputBox()">
            
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Biryani </div>
            <input type="checkbox" name="chkbox" value="Chicken Biryani" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Hyderabadi Biryani</div>
            <input type="checkbox" name="chkbox" value="Hyderabadi Biryani" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Korma</div>
            <input type="checkbox" name="chkbox" value="Chicken Korma" onchange="updateInputBox()">
          
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Kadai</div>
            <input type="checkbox" name="chkbox" value="Chicken Kadai" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Tandoori Fish</div>
            <input type="checkbox" name="chkbox" value="Tandoori Fish" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Mutton Curry</div>
            <input type="checkbox" name="chkbox" value="Mutton Curry" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Murg Makhani</div>
            <input type="checkbox" name="chkbox" value="Murg Makhani" onchange="updateInputBox()">
          </div>
          </div>
        
          <div style="flex: 1;">
        

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Handi</div>
            <input type="checkbox" name="chkbox" value="Chicken Handi" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Chettinad </div>
            <input type="checkbox" name="chkbox" value="Chicken Chettinad " onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken 65 </div>
            <input type="checkbox" name="chkbox" value="Chicken 65 " onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Tandoori</div>
            <input type="checkbox" name="chkbox" value="Chicken Tandoori" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Biryani</div>
            <input type="checkbox" name="chkbox" value="Chicken Biryani" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Mutton Curry</div>
            <input type="checkbox" name="chkbox" value="Mutton Curry" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Fish Curry</div>
            <input type="checkbox" name="chkbox" value="Fish Curry" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Egg Curry</div>
            <input type="checkbox" name="chkbox" value="Egg Curry" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Rogan Josh</div>
            <input type="checkbox" name="chkbox" value="Rogan Josh" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Paneer Handi</div>
            <input type="checkbox" name="chkbox" value="Paneer Handi" onchange="updateInputBox()">
          </div>

        </div>
        </div>

        <br/><br/>

        <h1> <center><b><u><marquee behavior="" direction="right">Starters</marquee>  </u></b></center></h1><br/><br/>        <br/><br/>
        
        <div style="display: flex; flex-wrap: wrap;">
          <div style="flex: 1;">
  
          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Samosas</div>
            <input type="checkbox" name="chkbox" value="Samosas" onchange="updateInputBox()">
          </div>
          

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Pakoras </div>
            <input type="checkbox" name="chkbox" value="Pakoras" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Tandoori Chicken Tikka </div>
            <input type="checkbox" name="chkbox" value="Tandoori Chicken Tikka " onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Seekh Kebab</div>
            <input type="checkbox" name="chkbox" value="Seekh Kebab" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Paneer Tikka</div>
            <input type="checkbox" name="chkbox" value="Paneer Tikka" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chilli Paneer</div>
            <input type="checkbox" name="chkbox" value="Chilli Paneer" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Mushroom Tikka </div>
            <input type="checkbox" name="chkbox" value="Mushroom Tikka" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Tandoori Chicken Wings </div>
            <input type="checkbox" name="chkbox" value="Tandoori Chicken Wings " onchange="updateInputBox()">            
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Veg Cutlet </div>
            <input type="checkbox" name="chkbox" value="Veg Cutlet" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Fish Amritsari </div>
            <input type="checkbox" name="chkbox" value="Fish Amritsari" onchange="updateInputBox()">
          </div>
          </div>
        
          <div style="flex: 1;">
        

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Tandoori Fish </div>
            <input type="checkbox" name="chkbox" value="Tandoori Fish" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Prawn Fry</div>
            <input type="checkbox" name="chkbox" value="Prawn Fry" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Onion Bhaji</div>
            <input type="checkbox" name="chkbox" value="Onion Bhaji" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Dahi Bhalla</div>
            <input type="checkbox" name="chkbox" value="Dahi Bhalla" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Papdi Chaat</div>
            <input type="checkbox" name="chkbox" value="Papdi Chaat" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Vegetable Kebab </div>
            <input type="checkbox" name="chkbox" value="Vegetable Kebab" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Roasted Mushroom </div>
            <input type="checkbox" name="chkbox" value="Roasted Mushroom" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Paneer 65</div>
            <input type="checkbox" name="chkbox" value="Paneer 65" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Drums of Heaven</div>
            <input type="checkbox" name="chkbox" value="Chicken Drums of Heaven" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chicken Spring Rolls</div>
            <input type="checkbox" name="chkbox" value="Chicken Spring Rolls" onchange="updateInputBox()">
          </div>

        </div>
        </div>
        <br/>
        <br/>

        <h1> <center><b><u><marquee behavior="" direction="right">Beverages</marquee>  </u></b></center></h1><br/><br/>        
        <div style="display: flex; flex-wrap: wrap;">
          <div style="flex: 1;">
  
          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Iced Tea</div>
            <input type="checkbox" name="chkbox" value="Iced Tea" onchange="updateInputBox()">            
          </div>
          

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Lemonade</div>
            <input type="checkbox" name="chkbox" value="Lemonade" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Coke or Pepsi</div>
            <input type="checkbox" name="chkbox" value="Coke or Pepsi" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Mojito</div>
            <input type="checkbox" name="chkbox" value="Mojito" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Pina Colada</div>
            <input type="checkbox" name="chkbox" value="Pina Colada" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Bloody Mary</div>
            <input type="checkbox" name="chkbox" value="Bloody Mary" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Hot Chocolate</div>
            <input type="checkbox" name="chkbox" value="Hot Chocolate" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Cold Chocolate</div>
            <input type="checkbox" name="chkbox" value="Cold Chocolate" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Cappuccino</div>
            <input type="checkbox" name="chkbox" value="Cappuccino" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chocolate Shake</div>
            <input type="checkbox" name="chkbox" value="Chocolate Shake" onchange="updateInputBox()">
          </div>
          </div>
        
          <div style="flex: 1;">
        

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Banana Shake</div>
            <input type="checkbox" name="chkbox" value="Banana Shake" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chocolate Brownie Shake</div>
            <input type="checkbox" name="chkbox" value="Chocolate Brownie Shake" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Chocolate Oreo Shake </div>
            <input type="checkbox" name="chkbox" value="Chocolate Oreo Shake" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Virgin Mojito</div>
            <input type="checkbox" name="chkbox" value="Virgin Mojito" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Mango Mojito</div>
            <input type="checkbox" name="chkbox" value="Mango Mojito" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Rose Lemonade</div>
            <input type="checkbox" name="chkbox" value="Rose Lemonade" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Blue Lagoon</div>
            <input type="checkbox" name="chkbox" value="Blue Lagoon" onchange="updateInputBox()">          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Classic Hot Chocolate</div>
            <input type="checkbox" name="chkbox" value="Classic Hot Chocolate" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Hazelnut Hot Chocolate</div>
            <input type="checkbox" name="chkbox" value="Hazelnut Hot Chocolate" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Caramel Hot Chocolate</div>
            <input type="checkbox" name="chkbox" value="Caramel Hot Chocolate" onchange="updateInputBox()">
          </div>

        </div>
        </div>
      <br/>
      <br/>

      <h1> <center><b><u><marquee behavior="" direction="right">Sweets</marquee>  </u></b></center></h1><br/><br/>
        
        <div style="display: flex; flex-wrap: wrap;">
          <div style="flex: 1;">
  
          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Gulab Jamun</div>
            <input type="checkbox" name="chkbox" value="Gulab Jamun" onchange="updateInputBox()">
          </div>
          

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Rasgulla </div>
            <input type="checkbox" name="chkbox" value="Rasgulla" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Barfi</div>
            <input type="checkbox" name="chkbox" value="Barfi" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Ladoo</div>
            <input type="checkbox" name="chkbox" value="Ladoo" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Jalebi</div>
            <input type="checkbox" name="chkbox" value="Jalebi" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Kaju Katli </div>
            <input type="checkbox" name="chkbox" value="Kaju Katli " onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Pedha</div>
            <input type="checkbox" name="chkbox" value="Pedha" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Soan Papdi</div>
            <input type="checkbox" name="chkbox" value="Soan Papdi" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Rasmalai</div>
            <input type="checkbox" name="chkbox" value="Rasmalai" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Halwa</div>
            <input type="checkbox" name="chkbox" value="Halwa" onchange="updateInputBox()">
          </div>
          </div>
        
        <div style="flex: 1;">
        

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Kulfi </div>
            <input type="checkbox" name="chkbox" value="Kulfi" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Petha</div>
            <input type="checkbox" name="chkbox" value="Petha" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Gajar Ka Halwa</div>
            <input type="checkbox" name="chkbox" value="Gajar Ka Halwa" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Mysore Pak</div>
            <input type="checkbox" name="chkbox" value="Mysore Pak" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Modak</div>
            <input type="checkbox" name="chkbox" value="Modak" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Cham Cham</div>
            <input type="checkbox" name="chkbox" value="Cham Cham" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Shrikhand</div>
            <input type="checkbox" name="chkbox" value="Shrikhand" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Sandesh</div>
            <input type="checkbox" name="chkbox" value="Sandesh" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Mishti Doi </div>
            <input type="checkbox" name="chkbox" value="Mishti Doi" onchange="updateInputBox()">
          </div>

          <div class="item">
            <div class="price-input"></div>
            <div class="item-title">Kheer </div>
            <input type="checkbox" name="chkbox" value="Kheer" onchange="updateInputBox()">
          </div>

        </div>
        </div>
      <br/>
      <br/>
    </form>
  </main>

    
        
  <script>
          function updateInputBox() {
            var inputBox = document.getElementById("input_box");
            var checkboxes = document.getElementsByName("chkbox");
            var checkedItems = [];
            for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].checked) {
                checkedItems.push(checkboxes[i].value);
              }
            }
            inputBox.value = checkedItems.join(", ");
          }
  </script>            
<!-- <form method="POST" action="/after_login">
  {% csrf_token %}
       
        

  </form> -->


    <footer>
        <div class="contain">
            
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Sell on <u>Apni</u>दुकान</a></li>
            </ul>
            <ul>
               <li><a href="#">About us </a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <ul>
               <li> <a href="#">Terms of use</a></li>
               <li> <a href="#">Privacy policy</a></li>
            </ul>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
            
                <p style="font-size: 20px;">Copyright © 2023  Company <u>Apni</u>दुकान
              </p>
            
        </div>

        
    </footer>
</body>
</html>
<script>
var sliderImages = document.querySelectorAll(".slider img");
var current = 0;

function reset() {
  for (var i = 0; i < sliderImages.length; i++) {
    sliderImages[i].style.display = "none";
  }
}

function startSlide() {
  reset();
  sliderImages[0].style.display = "block";
}

function slideLeft() {
  reset();
  sliderImages[current - 1].style.display = "block";
  current--;
}

function slideRight() {
  reset();
  sliderImages[current + 1].style.display = "block";
  current++;
}

startSlide();

setInterval(function () {
  if (current === sliderImages.length - 1) {
    current = -1;
  }
  slideRight();
}, 3000);
</script>









