<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register_style.css' %}">
</head>
<body>
    <header>
        <div class="logo">&nbsp;&nbsp;&nbsp;&nbsp;<u>Apni</u><span style="color:white"> दुकान</span>
            <ul>
                <li><a href="/"><b>Home | </b></a></li>
                <li><a href="/login"><b>Log in | </b></a></li>
                <li><a href="/aboutus"><b>About | </b></a></li>
                <li><a href="#"><b>Contact us </b></a></li>
            </ul>
        </div>
    </header> 
    <div class="main">  	
        <div class="register">
            <form class="form" method="POST" action="/register">
                {% csrf_token %}
                <label for="chk" aria-hidden="true">Register</label>
                <input class="input" type="text" name="user" placeholder="Username" required="">
                <input class="input" type="email" name="email" placeholder="Email" required="">
                <input class="input" type="password" name="pswd" placeholder="Password" required="">
                <button type="submit">Register</button>
                <p style="font-size: large; font-weight: bold; color: rgb(145, 22, 0); margin: auto;" >Already have an account?<a href="/login"> Click here to login.</a></p>
            </form>
    </div>
        
    </div>
    <div class="anim">
        <img src="{% static 'css\register-animate.gif'%}" alt="">
    </div>
    <!-- <footer>
        Footer
    </footer> -->
</body>
</html>
