 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
li{
    float:left;
}
li a{
    padding: 20px;
    font-size: 20px;
    font-style: lato;
    color: white;
    text-decoration: none;
    margin-top: 0px;
}   
ul{
    display: flex;
    float:right;
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}
.logo{
    margin: auto 3res;
    padding:12px ;
    font-size: 45px;
    background-color: rgb(82, 12, 147);
    color: white;
    
    
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}


.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: rgb(137, 83, 220);
}
.header{
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-align: center;
}
form{
    margin-top: 30px;
}
form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.field button{
    color: #fff;
    background-color: #3a046d;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #fbfbfb;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.contain{
    margin: auto 3res;
    padding:12px ;
    font-size: 40px;
    background-color: rgb(82, 12, 147);
    color: rgb(0, 0, 0);}