  /* header */
*{
    margin:0%;
    padding: 0;
    font-family: 'poppins', sens-serif;
    box-sizing: border-box;
}
li{
    float:left;
}
li a{
    padding: 20px;
    font-size: 20px;
    font-style: lato;
    color: rgb(250, 250, 250);
    text-decoration: none;
    margin-top: 0px;
}   
ul{
    display: flex;
    float:right;
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}
.logo{
    margin: auto 3res;
    padding:12px ;
    font-size: 45px;
    background-color: rgb(82, 12, 147);
    color: rgb(255, 255, 255);
    
    
}
body{
    background-color:white(22, 83, 133);

}
video{
    float:"right";
}
h1{
    font-size: 80px;
    font-display: flex;
    font-style: bold;
    color: rgb(76, 17, 186) ;
    display: flex;
    margin-top: 20px;
    
}
.banner {
    margin-right: auto;
    margin-left: 500px; 
    margin-top: 70px;
  }
  
marquee{
    font-size: 30px;
    font-style: monospace;
    font-variant: small-caps;
    margin-left: 120px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-style: italic;

}
.anim{
    margin-left: 100px;
    margin-top: 60px;
    padding: 46px;
   
    

}

h3{
    font-size: 50px;
    margin-top: 70px;
    color:  rgb(82, 12, 147);
    font-style: bold;
    
}   
.container {
    /* background-image: url('static/css/ecommerce.gif'); */
    /* background-position: auto; */
    /* background-size: auto; */
    background-repeat: no-repeat;
    padding: 35px;
    height: 70px;
    width: 70px; 
    margin-top: 70px;
    display: inline-block;
    
    
    
  }
  
    
    video {
        width: 100%;
        height: 56.25%;
        margin-top: 100px; 
      }
  
  .page {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .section {
    width: 50%;
    height: 100%;
    font-size: 30px;
    margin-left: 80px;
    color:  rgb(132, 45, 213);
    font-style: italic;
   
  }
.lastpage{
    font-size: 50px;
    color: rgb(82, 12, 147);
    
    
}
.steps{
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: hidden;
    font-size: 30px;
   font-weight: 500;
}
.styled {
    background-color: rgb(132, 45, 213);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-left: 1%;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    /* background-color: rgba(220, 0, 0, 1); */
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
    .styled:hover {
        background-color: rgba(255, 0, 0, 1);
      }
      
      .styled:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
      }
      
      button:hover {
        background-color: #3e8e41; /* Change the background color on hover */
      }

  /* footer */
  .contain{
    margin: auto 3res;
    padding:12px ;
    font-size: 40px;
    background-color: rgb(82, 12, 147);
    color: rgb(0, 0, 0);}

   

